/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --rjb-grey-fill: #687864;
  --rjb-grey-empty: #bbd4d4;
  --rjb-darker-blue-fill: #31708e;
  --rjb-darker-blue-empty: #c5eff7;
  --rjb-grey-blue-fill: #5085a5;
  --rjb-grey-blue-empty: #c8f7c5;
  --rjb-lighter-blue-fill: #8fc1e3;
  --rjb-lighter-blue-empty: #4b5555;
  --rjb-offwhite-fill: #f7f9fb;
  --rjb-offwhite-empty: #638bb3;

  --primary: #3292a6;
  --primary-overlay: rgba(50, 146, 166, 0.8);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  align-items: center;
  height: 100vh;
  color: var(--rjb-darker-blue-fill);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}

/* .app-container {
  align-items: center;
  height: 100vh;
  color: var(--rjb-darker-blue-fill);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
} */

@media screen { 
  body { margin: 0 }
  .app-row, .app-col { overflow: hidden; position: absolute; }
  .app-row { left: 0; right: 0; }
  .app-col { top: 0; bottom: 0; }
  .app-scroll-x { overflow-x: auto; }
  .app-scroll-y { overflow-y: auto; }

  .app-header.app-row { height: 92px; top: 0; }
  .app-body.app-row { top: 92px; bottom: 50px; }
  .app-footer.app-row { height: 50px; bottom: 0; }
}