/* .course-list-hero {
    height: 100vh;
    color: var(--rjb-darker-blue-fill);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}
  */
