.rjb-hero {
    height: 530px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

.home-background {
    background-image: url('../../assets/home-background.jpg');
    height: 530px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.rjb-hero h1 {
    font-size: 46px;
    margin: -20px 0 20px;
}

.rjb-hero p {
    font-size: 20px;
    letter-spacing: 1px;
}

.rjb-content h2, .content h3 {
    font-size: 150%;
    margin: 20px 0;
}

.rjb-content p {
    color: #555;
    line-height: 30px;
    letter-spacing: 1.1px;
}