.auth-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 100vw;
  overflow-y: hidden;
  background-image: url("https://images.unsplash.com/photo-1527176930608-09cb256ab504?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1953&q=80");
  background-position: center;
  background-repeat: no-repeat;
}

.auth-body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.auth-container {
  background-color: var(--rjb-darker-blue-fill);
  padding: 20px 40px;
  border-radius: 5px;
  z-index: 1;
}

.auth-container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.auth-container a {
  cursor: pointer;
  text-decoration: underline;
  color: var(--rjb-offwhite-fill);
}

.auth-btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  color: var(--rjb-grey-blue-empty);
  background-color: var(--rjb-offwhite-empty);
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.auth-btn:focus {
  outline: 0;
}

.auth-btn:active {
  transform: scale(0.98);
}

.auth-text {
  margin-top: 30px;
  color: var(--rjb-offwhite-fill);
}

.auth-form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

::placeholder {
  color: var(--rjb-offwhite-fill);
}

.auth-form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.auth-form-control input:focus,
.auth-form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spin::before {  
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}
