<ng-container
  *ngIf="
    (accountService.currentUser$ | async) === null && !registerMode && !loading
  "
>
  <div class="auth-body">
    <div class="auth-container">
      <h1 class="auth-text">Please Login</h1>
      <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
        <div class="auth-form-control">
          <input
            name="username"
            placeholder="Username"
            [(ngModel)]="userLogin.userName"
            type="text"
          />
        </div>
        <div class="auth-form-control">
          <input
            placeholder="Password"
            name="password"
            [(ngModel)]="userLogin.password"
            type="password"
          />
        </div>
        <button class="auth-btn" type="submit">Login</button>
        <p class="register-text auth-text">
          Don't have an account?
          <a (click)="toggleRegisterMode()">Register</a>
        </p>
      </form>
    </div>
  </div>
</ng-container>

<ng-container
  *ngIf="
    (accountService.currentUser$ | async) === null
  "
>
  <div class="auth-body">
    <div class="auth-container">
      <h1 class="auth-text">Register</h1>
      <form #loginForm="ngForm" (ngSubmit)="register()" autocomplete="off">
        <div class="auth-form-control">
          <input
            name="username"
            placeholder="Username"
            [(ngModel)]="userLogin.userName"
            type="text"
          />
        </div>
        <div class="auth-form-control">
          <input
            placeholder="Password"
            name="password"
            [(ngModel)]="userLogin.password"
            type="password"
          />
        </div>

        <button class="auth-btn" type="submit">Register</button>
        <p class="register-text auth-text">
          Already have an account?
          <a (click)="toggleRegisterMode()">Login</a>
        </p>
      </form>
    </div>
  </div>
</ng-container>

<ng-container>
  <div class="auth-body">
    <div class="spin"></div>
  </div>
</ng-container>
