<ng-container
  *ngIf="(accountService.currentUser$ | async) === null && !registerMode"
>
  <div class="auth-container">
    <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
      <div class="rjb-form-control">
        <input
          name="username"
          [(ngModel)]="userLogin.userName"
          type="text"
          placeholder="Username"
        />
        <label>Username</label>
      </div>
      <div class="rjb-form-control">
        <input
          name="password"
          [(ngModel)]="userLogin.password"
          class="rjb-form-control"
          type="password"
          placeholder="Password"
        />
        <label>Password</label>
      </div>
      <button class="btn" type="submit">Login</button>
      <p class="register-text">
        Don't have an account?
        <a (click)="toggleRegisterMode()">Register</a>
      </p>
    </form>
  </div>
</ng-container>
