<div class="card mb-2 mr-1 ml-1">
  <div class="card-body">
    <div class="mb-1">
      <img
        src="../../../assets/{{ course.language.toLocaleLowerCase() }}.png"
        alt="{{ course.language }} flag"
      />
      <h5 class="flag-title card-title ml-2">{{ course.name }}</h5>
    </div>
    <p class="card-text">
      With supporting text below as a natural lead-in to additional content.
    </p>
    <a routerLink="/course/{{ course.id }}" class="btn btn-primary">Open course</a>
  </div>
</div>
