body {
    margin-top: 105px;
}

.navbar {
    box-shadow: 2px 2px 5px var(--primary);
    opacity: 0.9;
    background: #fff;
}

.navbar .nav-item {
  font-size: 1.4rem;
  padding-right: 1.4rem;
}

.logo {
  background-color: var(--primary-overlay);
  border-radius: 50% 50% 50% 0;
}

#dropdown {
  cursor: pointer;
}