<!-- NAV BAR -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
  <div class="container">
    <a href="/" class="navbar-brand"
      ><i class="fa fa-language" aria-hidden="true"></i> Language App
    </a>

    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/catalogue" routerLinkActive="active"
            >Catalogue
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/course-list"
            routerLinkActive="active"
            >My Courses</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active"
            >Messages</a
          >
        </li>
      </ng-container>
    </ul>

    <ng-container *ngIf="accountService.currentUser$ | async as user">
      <div class="dropdown ml-auto" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle
          ><i class="fa fa-user" aria-hidden="true"></i> Welcome
          {{ user.userName | titlecase }}</a
        >
        <div
          class="dropdown-menu mt-2 navbar-dark bg-dark text-light"
          *dropdownMenu
        >
          <a class="dropdown-item bg-dark"
            ><i class="fa fa-cog" aria-hidden="true"></i> Edit profile</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item bg-dark" (click)="logout()"
            ><i class="fa fa-user-times" aria-hidden="true"></i> Logout</a
          >
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="(accountService.currentUser$ | async) === null">
      <form
        #loginForm="ngForm"
        class="form-inline mt-2 mt-md-0"
        (ngSubmit)="login()"
        autocomplete="off"
      >
        <input
          name="username"
          [(ngModel)]="userLogin.userName"
          class="form-control mr-sm-2"
          type="text"
          placeholder="Username"
        />
        <input
          name="password"
          [(ngModel)]="userLogin.password"
          class="form-control mr-sm-2"
          type="password"
          placeholder="Password"
        />
        <button class="btn btn-success my-2 my-sm-0" type="submit">
          Login
        </button>
      </form>
    </ng-container>
  </div>
</nav>

<!-- ADMIN DASHBOARD HEADER -->
<ng-container *ngIf="(accountService.currentUser$ | async)?.userRole === 1">
    <app-admin-nav></app-admin-nav>
</ng-container>
