<nav class="rjb-nav" #navBar>
  <div class="rjb-container">
    <h1 class="rjb-logo">
      <a routerLink=""
        ><i class="fa fa-language" aria-hidden="true"></i> Language App
      </a>
    </h1>

    <ul *ngIf="accountService.currentUser$ | async">
      <li><a class="links" routerLinkActive="rjb-current" routerLink="">About</a></li>
      <li><a class="links" routerLinkActive="rjb-current"routerLink="/service">Services</a></li>
      <li><a class="links" routerLinkActive="rjb-current"routerLink="/contact">Contact</a></li>
    </ul>

    <ng-container
      *ngIf="accountService.currentUser$ | async as authenticatedUser"
    >
      <div id="dropdown" class="dropdown ml-auto" dropdown>
        <a class="dropdown-toggle" dropdownToggle
          ><i class="fa fa-user" aria-hidden="true"></i> Welcome
          {{ authenticatedUser.userName | titlecase  }}</a
        >
        <div
          class="dropdown-menu"
          *dropdownMenu
        >
          <a class="dropdown-item"
            ><i class="fa fa-cog" aria-hidden="true"></i> Edit profile</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()"
            ><i class="fa fa-user-times" aria-hidden="true"></i> Logout</a
          >
        </div>
      </div>
    </ng-container>
  </div>
</nav>
